body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-flow: column nowrap;
    flex: auto;
}


ul {
    list-style: none;
    padding: 0;
}

.navbar, .content-one, .content-two, .content-three, .content-four, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    flex-direction: row;
    min-height: 30px;
    padding: 20px;
    background-color: #e66b60;
    color: beige;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    font-size: 10px;
    gap: 12px;
}

.content-one {
    flex-direction: row;
    background-color: #e66b60;
    color: beige;
    padding: 80px;
    gap: 10px;
}
.button-one {
    background-color: beige;
    border: 0px;
    color: black;
    padding: 3px;
}
.low-contrast-p{
    color: antiquewhite;
}
.one-img {
    max-width: 300px;
    flex: 0 1 auto;
}

.content-two {
    flex-direction: column;

}
.two-images{
    display: flex;
    padding: 0px 100px;
    gap: 10px;
}
.img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-shrink: 1;
}
.img-card-img{
    max-width: 150px;
    flex: 0 1 auto;
}

.content-three {
    background-color: rgb(196, 240, 246);
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-container {
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.quote-teller {
    align-self: flex-end;
}


.four-container {
    margin: 20px;
    padding: 20px;
    background-color: #e66b60;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
    background-color: rgb(196, 240, 246);
}